<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" {{{language_attributes}}}> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" {{{language_attributes}}}> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" {{{language_attributes}}}> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" {{{language_attributes}}}> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>{{{wp_title}}} {{bloginfo.name}}</title>

  <meta name="viewport" content="width=device-width,initial-scale=1">

  {{{roots_stylesheets}}}
  {{> roots_stylesheets }}

  <link rel="alternate" type="application/rss+xml" title="{{bloginfo.name}} Feed" href="{{home_url}}/feed/">

  <script src="{{{template_directory_uri}}}/js/libs/modernizr-2.0.6.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{{template_directory_uri}}}/js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  {{{wp_head}}}
  {{> roots_google_analytics }}
  {{> roots_fout_b_gone }}
  {{> roots_1140_head }}
  {{> roots_adapt_head }}
  {{> roots_foundation_head }}
  {{> roots_bootstrap_head }}
  {{{roots_head}}}

  <script defer src="{{{template_directory_uri}}}/js/plugins.js"></script>
  <script defer src="{{{template_directory_uri}}}/js/script.js"></script>
</head>

<body class="{{body_class}}">

  {{{roots_wrap_before}}}
  <div id="wrap" class="container" role="document">
  {{{roots_header_before}}}
    <header id="banner" class="{{roots_options.container_class}}" role="banner">
    {{{roots_header_inside}}}
      <div class="container">

      <a id="logo" href="{{home_url}}/">
          <img src="{{{header_image}}}" width="{{{header_image_width}}}" height="{{{header_image_height}}}" alt="{{bloginfo.name}}">
        </a>

        <nav id="nav-main" role="navigation">
            {{{wp_nav_menu}}}
        </nav>

        {{#have_utility_menu_items}}
            <nav id="nav-utility">
                {{{utility_nav_menu}}}
            </nav>
        {{/have_utility_menu_items}}

      </div>
    </header>
    {{{roots_header_after}}}
