{{#roots_options.fout_b_gone}}
    <script src="{{{template_directory_uri}}}/js/libs/foutbgone.min.js"></script>
    <script>
        fbg.hideFOUT('asap', 100);
    </script>
{{/roots_options.fout_b_gone}}
