{{{roots_content_before}}}
    <div id="content" class="{{roots_options.container_class}}">
    {{{roots_main_before}}}
      <div id="main" role="main">
        <div class="container">
          <h1>{{#__}}File Not Found{{/__}}</h1>
          <div class="error">
            <p class="bottom">{{#__}}The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.{{/__}}</p>
          </div>
          <p>{{#__}}Please try the following:{{/__}}</p>
          <ul>
            <li>{{#__}}Check your spelling{{/__}}</li>
            <li>{{#__}}Return to the <a href="{{home_url}}">home page</a>{{/__}}</li>
            <li>{{#__}}Click the <a href="javascript:history.back()">Back</a> button{{/__}}</li>
          </ul>
        </div>
      </div><!-- /#main -->
    {{{roots_main_after}}}
    </div><!-- /#content -->
{{{roots_content_after}}}
