{{{roots_content_before}}}
<div id="content" class="{{roots_options.container_class}}">
{{{roots_main_before}}}
  <div id="main" class="{{roots_options.main_class}}" role="main">
    <div class="container">
        {{{loop_page}}}
    </div>
  </div><!-- /#main -->
{{{roots_main_after}}}
</div><!-- /#content -->
{{{roots_content_after}}}
