<time class="updated" datetime="{{#get_the_time}}c{{/get_the_time}}" pubdate>{{#__}}Posted on {{#get_the_time}}l, F jS, Y{{/get_the_time}} at {{#get_the_time}}{{/get_the_time}}.{{/__}}</time>
<p class="byline author vcard">{{#__}}Written by{{/__}} <a href="{{author_posts_url}}" rel="author" class="fn">{{the_author}}</a></p>

