{{#framework_blueprint}}
  <link rel="stylesheet" href="{{{template_directory_uri}}}/css/blueprint/screen.css">
{{/framework_blueprint}}
{{#framework_960gs_12}}
{{/framework_960gs_12}}
{{#framework_960gs_16}}
  <link rel="stylesheet" href="{{{template_directory_uri}}}/css/960/reset.css">
  <link rel="stylesheet" href="{{{template_directory_uri}}}/css/960/text.css">
  <link rel="stylesheet" href="{{{template_directory_uri}}}/css/960/960.css">
{{/framework_960gs_16}}
{{#framework_960gs_24}}
  <link rel="stylesheet" href="{{{template_directory_uri}}}/css/960/reset.css">
  <link rel="stylesheet" href="{{{template_directory_uri}}}/css/960/text.css">
  <link rel="stylesheet" href="{{{template_directory_uri}}}/css/960/960_24_col.css">
{{/framework_960gs_24}}
{{#framework_1140}}
  <link rel="stylesheet" href="{{{template_directory_uri}}}/css/1140/1140.css">
{{/framework_1140}}
{{#framework_adapt}}
  <link rel="stylesheet" href="{{{template_directory_uri}}}/css/adapt/master.css">
  <noscript>
    <link rel="stylesheet" href="{{{template_directory_uri}}}/css/adapt/mobile.css">
  </noscript>
{{/framework_adapt}}
{{#framework_foundation}}
  <link rel="stylesheet" href="{{{template_directory_uri}}}/css/foundation/globals.css">
  <link rel="stylesheet" href="{{{template_directory_uri}}}/css/foundation/typography.css">
  <link rel="stylesheet" href="{{{template_directory_uri}}}/css/foundation/grid.css">
  <link rel="stylesheet" href="{{{template_directory_uri}}}/css/foundation/ui.css">
  <link rel="stylesheet" href="{{{template_directory_uri}}}/css/foundation/forms.css">
  <link rel="stylesheet" href="{{{template_directory_uri}}}/css/foundation/orbit.css">
  <link rel="stylesheet" href="{{{template_directory_uri}}}/css/foundation/reveal.css">
  <link rel="stylesheet" href="{{{template_directory_uri}}}/css/foundation/mobile.css">
  <link rel="stylesheet" href="{{{template_directory_uri}}}/css/foundation/app.css">                                          
{{/framework_foundation}}
{{#framework_less}}
  <link rel="stylesheet" href="{{{template_directory_uri}}}/css/less/less.css">
{{/framework_less}}
{{#framework_bootstrap}}
  <link rel="stylesheet" href="{{{template_directory_uri}}}/css/bootstrap/bootstrap.css">
{{/framework_bootstrap}}
{{#framework_bootstrap_less}}
  <link rel="stylesheet/less" media="all" href="{{{template_directory_uri}}}/bootstrap/lib/bootstrap.less">
{{/framework_bootstrap_less}}
{{#have_rgforms}}
  <link rel="stylesheet" href="{{{plugins_url}}}/gravityforms/css/forms.css">
{{/have_rgforms}}
{{#is_child_theme}}
  <link rel="stylesheet" href="{{{template_directory_uri}}}/css/style.css">
  <link rel="stylesheet" href="{{{stylesheet_uri}}}">
{{/is_child_theme}}
{{^is_child_theme}}
  <link rel="stylesheet" href="{{{template_directory_uri}}}/css/style.css">
{{/is_child_theme}}
{{#framework_blueprint}}
  <!--[if lt IE 8]><link rel="stylesheet" href="{{{template_directory_uri}}}/blueprint/ie.css"><![endif]-->
{{/framework_blueprint}}
{{#framework_1140}}
  <!--[if lt IE 8]><link rel="stylesheet" href="{{{template_directory_uri}}}/1140/ie.css"><![endif]-->
{{/framework_1140}}
{{#framework_foundation}}
  <!--[if lt IE 9]><link rel="stylesheet" href="{{{template_directory_uri}}}/foundation/ie.css"><![endif]-->
{{/framework_foundation}}
