<form role="search" method="get" id="searchform" action="{{home_url}}">
  <label class="visuallyhidden" for="s">{{#__}}Search for:{{/__}}</label>
  <input type="text" value="" name="s" id="s" placeholder="{{#__}}Search{{/__}} {{bloginfo.name}}">
  <input type="submit" id="searchsubmit" value="{{#__}}Search{{/__}}" class="button">
</form>
